.rubygems--item {
    height: auto !important;
    flex-flow: row wrap !important;
    padding: 5px 0 5px 5px !important;
}

.rubygems--item--title {
    width: 100%;
    margin-bottom: 5px;
}

.rubygems--item--excerpt {
    width: 100%;
    font-size: 0.625em;
    margin-bottom: 5px;
}
